<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Credit Top Up</title>
<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="min-h-screen flex flex-col bg-cover bg-center relative"
    style="background-image: url('{{ url_for('static', filename='image/bg1.png') }}');">
<div class="absolute inset-0 bg-black/30"></div>

<div class="relative z-10">
<!-- Navbar -->
<header class="bg-black/50 backdrop-blur-md text-white px-10 py-6 relative">

    <!-- โลโก้อยู่ซ้าย -->
    <h1 class="text-xl font-semibold absolute left-10 top-6">
        Interne Cafe’
    </h1>

    <!-- เมนูอยู่ตรงกลาง -->
    <nav class="flex justify-center space-x-6">
        <a href="/dashboard" class="hover:underline">Home</a>
        <a href="/credit" class="underline">Credit</a>
         <a href="/contact" class="underline">About</a>
    </nav>

</header>


<!-- Main Box -->
<div class="flex-1 flex justify-center items-start pt-20 pb-10">

<div class="bg-gray-200 w-full max-w-5xl rounded-3xl p-12 shadow-2xl relative">
    <a href="/dashboard" 
   class="absolute top-6 left-8 text-2xl text-gray-700 
          hover:text-purple-600 transition font-bold">
   ←
</a>

    <h2 class="text-3xl font-bold text-center mb-6">
        Credit top up Station
    </h2>

    <hr class="mb-10 border-gray-400">

    <form method="POST">

        <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 text-center">

            <label class="cursor-pointer">
    <input type="radio" name="package" value="30min" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        30 Minute
                    </p>
                </div>
                <p class="mt-4 font-bold">20 BAHT</p>
            </label>

            <label class="cursor-pointer">
    <input type="radio" name="package" value="1hour" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        1 Hour
                    </p>
                </div>
                <p class="mt-4 font-bold">40 BAHT</p>
            </label>

            <label class="cursor-pointer">
    <input type="radio" name="package" value="1_30" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        1:30 Hour
                    </p>
                </div>
                <p class="mt-4 font-bold">60 BAHT</p>
            </label>

            <label class="cursor-pointer">
    <input type="radio" name="package" value="2hour" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        2 Hour
                    </p>
                </div>
                <p class="mt-4 font-bold">80 BAHT</p>
            </label>

            <label class="cursor-pointer">
    <input type="radio" name="package" value="2_30" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        2:30 Hour
                    </p>
                </div>
                <p class="mt-4 font-bold">100 BAHT</p>
            </label>

            <label class="cursor-pointer">
    <input type="radio" name="package" value="3hour" class="hidden peer">

    <div class="w-3/4 mx-auto border border-gray-600 rounded-2xl py-6
            transition hover:scale-105 duration-200
            peer-checked:bg-purple-300
            peer-checked:border-purple-600">
                    <p class="text-2xl font-semibold text-purple-600">
                        3 Hour
                    </p>
                </div>
                <p class="mt-4 font-bold">120 BAHT</p>
            </label>

        </div>

        <div class="text-center mt-12">
            <button class="bg-gray-500 text-white 
            px-12 py-4 text-lg font-semibold 
            rounded-xl shadow-lg 
            hover:bg-gray-600 hover:scale-103 
            transition duration-200">
    OK
</button>
        </div>

    </form>

</div>
</div>
</div>

</body>
</html>